.MapCard{
    border: 2px solid black;
}

.MapCard-image{
    height: 225px;
    width: 400px;
    cursor: pointer;
}
.MapCard-info{
    background-color: rgba(65, 105, 225, 0.8);
    margin: 0px;
    margin-top: -8px;
}

.MapCard-link{
    text-decoration: none;
    color: black;
    margin: 5px 5px;
}