.Navbar{
    background-color: rgba(45, 55, 65, 0.8);
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 0.625rem;
}

.Navbar-logo{
    font-weight: bold;
    color: blue;
    justify-self: start;
    margin-left: 1.25rem;
    cursor: pointer;
    margin: 0 auto;
    margin-left: 1.25rem;
}

.Navbar-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0.625rem;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: start;
    margin-right: 2rem;
    padding-left: 0;
}

.Navbar-links{
    color:white;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}

.Navbar-links:hover{
    background-color: blue;
    border-radius: 0.25rem;
    transition:  all 0.2s ease-out;
}

.fa-bars, .fa-times{
    color: white;
}