.UtilityCard{
    border: 2px solid black;
    margin: 1px;
}

.UtilityCard-image{
    height: 225px;
    width: 400px;
    cursor: pointer;
}
.UtilityCard-info{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    margin-top: -8px;
    height: auto;
    min-height: 100px;
    width: 400px;
}

.UtilityCard-link{
    text-decoration: none;
    color: black;
}