.parent {
  max-width: 80rem;
  min-width: 40rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  cursor: pointer;
  /* border-top-width: 0rem;
  border-style: solid;
  border-color: rgb(29, 47, 100); */
}
.UtilityPageImgGrid {
  position: relative;
  display: block;
  height: 22.375rem;
  width: 39.875rem;
  border-width: .063rem;
  border-style: solid;
  border-color: rgb(40, 50, 60);
}
.UtilityPageImgView {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.crosshair {
  position: absolute;
  opacity: 0.6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  z-index: 3;
}