.UtilityPage {
  padding: 0rem 3rem;
  margin: 2rem auto;
  max-width: 80rem;
  min-width: 40rem;
  text-align: center;
  /* border-style: solid;
  border-color: red; */
}
.ImageHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: royalblue;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.ImageHeaderText {
  width: 20rem;
  border-style: solid;
  border-color: rgb(29, 47, 100);
  border-width: 0.125rem;
  border-left-width: 0.063rem;
  border-right-width: 0.063rem;
}
.ImageHeaderText > p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.HeaderText {
  font-weight: bold;
  font-size: medium;
}
.SubtitleText {
  font-weight: normal;
  font-size: larger;
}

.CHstyle {
  fill: #fff;
  stroke: #000;
  stroke-miterlimit: 10;
}

/* these rem values are for 1920x1080 / 1.5 */
.UtilityPageImg {
  position: relative;
  height: 45rem;
  width: 80rem;
}

.ImageButtons {
  display: flex;
  position: absolute;
  z-index: 1;
  float: right;
  padding-top: 0.063rem;
}

.BackgroundColor {
  background-color: rgba(0, 0, 0, 0.5);
}

.UtilityPage-content {
  text-align: left;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.5em;
  font-weight: bold;
}

.UtilityPage-description {
  background-color: rgba(0, 0, 0, 0.3);
  text-align: left;
  height: 400px;
  margin-bottom: 20px;
}

.UtilityPage-description > p {
  font-size: 150%;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.UtilityPage-description > h3 {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 2em;
  padding: 15px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
