/* UtilityCard is 384px by 216px which is 24rem x 13.5rem */
/* https://nekocalc.com/px-to-rem-converter */

.UtilityCard-link {
  text-decoration: none;
  color: black;
  margin: 0.625rem 0.625rem;
  transition: all 1s ease;
}
.UtilityCard {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 0.125rem solid black;
  height: 13.5rem; 
  width: 24rem;
  position: relative;
}
.gallery__images {
  display: grid;
  grid-template-columns: auto 3.125rem auto;
}
.UtilityCard-image-left {
  height: 13.5rem; 
  width: 12rem;
  cursor: pointer;
  overflow: hidden;
  border-right: 0.063rem solid black;
}
.UtilityCard-image-right {
  height: 13.5rem; 
  width: 12rem;
  cursor: pointer;
  overflow: hidden;
  border-left: 0.063rem solid black;
}
.UtilityCard-image-pov {
  height: 13.5rem; 
  width: 24rem;
  right: 4rem;
  position: relative;
  cursor: pointer;
}
.UtilityCard-image-land {
  transform: skew(20deg);
  position: relative;
  right: 25%;
  height: 100%;
}
.UtilityCard-image-land-container{
  position: absolute;
  left: 55%;
  top: 0;
  bottom: 0;
  transform: skew(-20deg);
  overflow: hidden;
  border-left: 0.125rem solid black;
}
.UtilityCard-info {
  background-color: rgb(40, 50, 60);
  border: 0.125rem solid black;
  border-top: 0rem;
  margin: 0;
  min-height: 4.8rem;
  width: 24rem;
  text-align: center;
}

.Icon-image-util {
  position: absolute;
  height: 3rem;
  width: 3rem;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 0.125rem solid black;
  border-bottom: 0.125rem solid black;
  background-color: rgb(40, 50, 60);
}
.Icon-image-side {
  position: absolute;
  height: 3rem;
  width: 3rem;
  z-index: 2;
  top: 0;
  left: 3rem;
  border-right: 0.125rem solid black;
  border-bottom: 0.125rem solid black;
  background-color: rgb(40, 50, 60);;
}

.UtilityCard-link:hover {
  transform: scale(1.085);
  z-index: 1;
}

p.Header {
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-weight: bold;
  margin: 0;
}

p.Subtitle {
  color: rgb(225, 225, 225);
  font-size: x-large;
  margin: 0;
}
